.frameitembg {
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  grid-template-rows: repeat(4, 20px) repeat(4, 80px);
  grid-template-areas:
    "nickname nickname nickname"
    "aka_battlep aka_battlep aka_battlep"
    "char_mission char_mission char_mission"
    "clan clan clan"
    ". int ."
    ". neck ."
    "attackp lifep defensep"
    "attackw money defensew"
    "status status status"
    "line line line"
    "fastspell fastspell fastspell"
    "lastfastspell lastfastspell lastfastspell"
    "openinv openinv openinv"
    "filter filter filter"
  ;
  padding: 0;
  text-align: center;

  #toplpheader {

    + .listcaption {
      grid-area: nickname;
    }
  }

  #listrow_aka_battlep {
   grid-area: aka_battlep;
  }

  #listrow_char_mission {
    grid-area: char_mission;
  }

  #listrow_clan {
    grid-area: clan;
  }

  #listrow_lifep {
    grid-area: lifep;
    background-image: url('/img/body_top.png');
  }

  #listrow_money {
    grid-area: money;
    background-image: url('/img/body_bottom.png');
  }

  #listrow_int {
    grid-area: int;
    background-image: url('/img/head.png');
  }

  #listrow_attackp {
    grid-area: attackp;
    background-image: url('/img/arm_left.png');
  }

  #listrow_attackw {
    grid-area: attackw;
    background-image: url('/img/hand_left.png');
  }

  #listrow_defensep {
    grid-area: defensep;
    background-image: url('/img/arm_right.png');
  }

  #listrow_defensew {
    grid-area: defensew;
    background-image: url('/img/hand_right.png');
  }

  #listrow_neck {
    grid-area: neck;
    background-image: url('/img/neck.png');
  }

  #listrow_status {
    grid-area: status;

    + div {
      grid-area: line;
    }
  }

  #fastspell {
    grid-area: fastspell;
  }

  .small {
    grid-area: lastfastspell;

    + .listcaption {
      grid-area: openinv;
    }
  }

  #filterrow {
    grid-area: filter;
  }

  .listitemrow {
    .itemamount {
      display: block;
      float: left;

      &:after {
        content: " ";
        white-space: pre;
      }
    }

    .itemname {
      display: block;
    }

    br {
      display: none;
    }

    .medium {
      display: inline-flex;
      font-size: 0;

      a {
        font-size: 0;
      }
    }
  }
}
