.frameitembg {
  .listitemrow {
    .itemamount {
      display: block;
      float: left;

      &:after {
        content: " ";
        white-space: pre;
      }
    }

    .itemname {
      display: block;
    }

    br {
      display: none;
    }

    .medium {
      display: inline-flex;
      font-size: 0;

      a {
        font-size: 0;
      }
    }
  }
}
